@font-face {
  font-family: "iconfont"; /* Project id 2868022 */
  src: url('iconfont.woff2?t=1634606985084') format('woff2'),
       url('iconfont.woff?t=1634606985084') format('woff'),
       url('iconfont.ttf?t=1634606985084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-huiyuan:before {
  content: "\e640";
}

.icon-gerenziliao:before {
  content: "\e61c";
}

.icon-zhanghaoanquan:before {
  content: "\e66d";
}

.icon-qingliclear:before {
  content: "\e62b";
}

.icon-jianchagengxin:before {
  content: "\e823";
}

.icon-zuji:before {
  content: "\e767";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-jifen:before {
  content: "\e60a";
}

.icon-dizhi:before {
  content: "\e614";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-guanyuwomen:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e665";
}

.icon-hezuo:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e624";
}

.icon-tuikuan:before {
  content: "\e636";
}

.icon-weibiaoti2fuzhi04:before {
  content: "\e621";
}

.icon-daifahuo:before {
  content: "\e605";
}

.icon-daipingjia:before {
  content: "\e62a";
}

.icon-daishouhuo:before {
  content: "\e638";
}

.icon-shezhi:before {
  content: "\e60d";
}

.icon-shouji1:before {
  content: "\e615";
}

.icon-yanzhengma:before {
  content: "\e623";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-weibo:before {
  content: "\e63e";
}

.icon-weixin:before {
  content: "\e627";
}

.icon-qq:before {
  content: "\e663";
}

